.part20 .part60 {
    padding: 1em;
    min-height: 70vh;
}

.part20 {
    width: 20%;
    display: grid;
    background-color: var(--main-light);
    padding: 3%;
    z-index: 2;
    transition: all.4s;
}

.part20:hover {
    width: 25%;
}

.part60 {
    width: 54%;
    min-width: 54%;
}

.bRight {
    box-shadow: .2em 0em .5em black;
}

.bLeft {
    box-shadow: -0.2em 0em .5em black;
}


h1 {
    color: var(--bleu-dark);
    font-size: 3em;
    transition: all.4s;
}

h2 {
    color: ghostwhite;
    font-size: 2em;
}

input,
textarea {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 2em;
    padding: 2%;
    border-radius: 10px;
    background-color: var(--main-light);
    color: var(--bleu-dark);
    box-shadow: 0 0 .2em var(--bleu-dark);
    outline: none;
    border: none;
    transition: all.4s;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 .9em var(--main-dark);
}