:root {
  --bleu-light: rgb(245, 245, 255);
  --main-light: rgb(254, 254, 255);
  --bleu-dark: rgb(10, 10, 50);
  --main-dark: rgb(5, 5, 25);
}

::-moz-selection {
  background: var(--bleu-dark);
  color: #fff;
  text-shadow: 2px 2px 4px black;
}

::selection {
  background: var(--bleu-dark);
  color: #fff;
  text-shadow: 2px 2px 4px black;
}

.App {
  background-color: var(--bleu-light);
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  text-align: center;
  overflow-x: hidden;
  transition: all.4s;
}