:root {
  --bleu-light: rgb(245, 245, 255);
  --main-light: rgb(254, 254, 255);
  --bleu-dark: rgb(10, 10, 50);
  --main-dark: rgb(5, 5, 25);
}

::-moz-selection {
  background: var(--bleu-dark);
  color: var(--bleu-light);
}

::selection {
  background: var(--bleu-dark);
  color: var(--bleu-light);
}

body {
  overflow: hidden !important;
}

h1,
h2,
h3 {
  transition: all.4s;
}

h1 {
  color: var(--bleu-dark);
  font-size: 3em;
}

h2 {
  color: var(--bleu-dark);
  font-size: 2em;
}

h3 {
  color: var(--main-light);
}

button {
  transition: all.4s;
}

button:hover {
  cursor: pointer;
}

input,
textarea {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 2em;
  padding: 2%;
  border-radius: 10px;
  background-color: var(--main-light);
  color: var(--bleu-dark);
  box-shadow: 0 0 .2em var(--bleu-dark);
  outline: none;
  border: none;
  transition: all.4s;
}

.App {
  background: url("https://nucleusfinance.com/img/grid1.webp");
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
  overflow-x: hidden;
  transition: all.4s;
}

.noaccess {
  z-index: 999999;
  position: fixed;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: var(--bleu-light);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  color: var(--main-dark);
}

.right {
  float: right;
}

.left {
  float: left;
}

.bgg {
  padding-bottom: 1.2em;
  font-size: 1em !important;
}

#msgg {
  display: none;
  position: fixed;
  z-index: 9999;
  margin: 0;
  background-color: rgb(0, 0, 0, .4);
  backdrop-filter: blur(2em);
}

.msg_prive_input {
  margin-top: 2%;
  background-color: transparent !important;
}

@media only screen and (min-width: 1500px) {
  .App {
    display: flex;
  }

  #msgg {
    top: 2vh;
    height: 96vh;
    left: 24vw;
    width: 52vw;
    border-radius: 25px;
  }

  @keyframes smooth {
    20% {
      transform: scale(1.01);
    }

    60% {
      transform: scale(0.98);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes dring {
    20% {
      transform: rotate(4deg) translate(1px);
    }

    60% {
      transform: rotate(-4deg) translate(-2px);
    }

    100% {
      transform: rotate(0deg) translate(1px);
    }
  }
}

/* DEBUT Home */

@media only screen and (max-width: 1500px) {

  .part20 .part60 {
    padding: 1em;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .part20 {
    display: grid;
    background-color: var(--main-light);
    padding: 2%;
    z-index: 2;
    transition: all.4s;
  }

  .part60 {
    width: 100%;
  }

  #msgg {
    top: 0;
    height: 100vh;
    left: 0;
    width: 100vw;
    border-radius: 0px;
  }

  #writeDiv {
    top: 10vh;
    left: 2vw;
    height: 80vh;
    width: 96vw;
    border-radius: 9px;
  }
}

@media only screen and (min-width: 1500px) {
  .part20 .part60 {
    padding: 1em;
    min-height: 70vh;
  }

  .part20 {
    width: 20%;
    display: grid;
    background-color: var(--main-light);
    padding: 3%;
    z-index: 2;
    transition: all.4s;
  }

  .part20:hover {
    width: 25%;
  }

  .part60 {
    width: 54%;
    min-width: 54%;
  }

  .bRight {
    box-shadow: .2em 0em .5em black;
  }

  .bLeft {
    box-shadow: -0.2em 0em .5em black;
  }

  input:focus,
  textarea:focus {
    animation: smooth .7s;
    box-shadow: 0 0 .9em var(--main-dark);
  }

  #writeDiv {
    top: 15vh;
    left: 15vw;
    height: 70vh;
    width: 70vw;
    border-radius: 25px;
  }
}

.titre_pub {
  height: max-content !important;
  animation: none !important;
  margin: 9px;
  width: 350px;
  float: left;
  margin-left: 5%;
}

.block {
  display: block !important;
}

.logogin {
  margin-top: 10px !important;
}

#writeDiv {
  display: none;
  position: fixed;
  z-index: 1000;
  background-color: var(--main-light);
  box-shadow: 0 0 .9em black;
}

.close,
.send {
  position: absolute;
  z-index: 9999;
  right: 1em;
  border: none;
  outline: none;
  font-size: 1em;
  background-color: var(--bleu-dark);
  color: var(--main-light);
}

.close {
  top: 1em;
  height: 1.7em;
  width: 1.7em;
  border-radius: 2em;
}

.send {
  padding: 1em;
  bottom: 1em;
  height: auto;
  width: fit-content;
  border-radius: 1em;
}

.publicationInput {
  position: relative;
  margin: 0;
  padding: 2%;
  height: 80% !important;
  width: 90% !important;
  margin-left: auto;
  margin-right: auto;
}

.noanimation,
.noanimation:focus,
.noanimation:active {
  resize: none;
  animation: none !important;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

/* FIN Home */

/* DEBUT Register & Login */

@media only screen and (max-width: 1500px) {
  .container {
    width: 90vw;
    height: 80vh;
    margin: auto;
    margin-top: 50px;
    padding: 3% 5% 3% 5%;
    border-radius: 0px;
  }

  #login,
  #register {
    border-radius: 9px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 4px;
  }
}

@media only screen and (min-width: 1500px) {
  .container {
    width: fit-content;
    margin: auto;
    padding: 3% 5% 3% 5%;
    border-radius: 25px;
  }

  #login,
  #register {
    border-radius: 25px;
    margin: 0 2px 0 2px;
    padding: 3% 7% 3% 7%;
  }
}

.loginPage,
.registerPage {
  text-align: center;
  background: url("https://free4kwallpapers.com/uploads/originals/2020/10/25/colourful-light-refraction-wallpaper.jpg");
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--bleu-dark);
}

.container {
  border: none;
  background-color: transparent;
  backdrop-filter: blur(2em);
  box-shadow: .2em .2em .5em var(--bleu-dark);
}

label {
  color: var(--bleu-light);
}

#login,
#register {
  width: 100px;
  font-size: 17px;
  text-align: center;
  border: none;
}

#login {
  color: var(--main-dark);
  background-color: var(--main-light);
  box-shadow: .2em .2em .5em var(--bleu-dark);
  outline: none;
}

#register {
  color: var(--main-light);
  background-color: var(--blue-dark);
  box-shadow: .2em .2em .5em var(--bleu-dark);
  outline: none;
}

#login:hover,
#register:hover {
  cursor: pointer;
}

#login:focus,
#register:focus {
  transform: scale(.9);
  box-shadow: .05em .05em .1em var(--bleu-dark);
}

.regin {
  border: none !important;
  background-color: rgb(144, 175, 239, .4) !important;
  margin-top: 14px;
  margin-bottom: 14px;
  padding: 11px;
  transition: all.4s;
}

.regin:focus {
  background-color: rgb(144, 175, 239, .9) !important;
}

/* FIN Register & Login */

/* DEBUT Messages */

.messages {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100vh;
  background: url("https://nucleusfinance.com/img/grid1.webp");
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  background-attachment: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all.4s;
}

.msg-title {
  margin-left: auto;
  margin-right: auto;
  padding: 1%;
  width: 90%;
  height: auto;
  backdrop-filter: blur(2em);
  background-color: rgb(0, 0, 0, .1);
  border-radius: 17px;
  margin-bottom: 15px;
  margin-top: 15px;
  transition: all.1s;
}

.msg-title span {
  color: var(--main-dark);
  transition: all.4s;
}

.msg-title:hover {
  background-color: rgb(0, 0, 0, .2);
  transform: scale(1.01);
  cursor: pointer;
}

.msg-title p {
  color: var(--bleu-dark);
  text-align: left;
  font-size: 1.5em;
}

.sendMessage {
  position: static;
  margin: 50px;
  padding: 0px;
  padding-left: 17px;
  padding-right: 17px;
  font-size: 1.2em;
  color: var(--main-light);
  margin-left: auto;
  margin-right: auto;
  bottom: 10px;
  height: 50px;
  float: bottom;
  background-color: rgb(0, 0, 0, .4);
  border: .2em solid var(--main-light);
  border-radius: 25px;
  backdrop-filter: blur(1em);
}

.large {
  position: sticky;
  outline: none;
  border: none;
  animation: none !important;
  width: 95% !important;
  left: 0;
  right: 0;
  color: var(--main-dark);
  background-color: rgb(255, 255, 255, .4);
}

.noscroll {
  overflow: hidden !important;
}

.private {
  width: 90%;
  height: 100%;
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.private-title {
  z-index: 2;
  position: sticky;
  display: inline-flex;
  top: 0px;
  height: 50px;
  width: 100%;
  vertical-align: middle;
}

.private-title a {
  font-size: 1.2em;
  margin: calc(25px - 0.6em);
  user-select: none;
}

.private-title a:hover {
  cursor: pointer;
}

.bubble {
  width: 95%;
  height: max-content;
  min-height: 1.5em;
  padding: 9px;
  margin: 9px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 9px;
  display: flex;
  text-align: left;
  backdrop-filter: blur(2em);
  background-color: rgb(0, 0, 0, .1);
}

.bubble .msg {
  float: left;
  width: 80%;
}

.bubble .pp span {
  padding: 5%;
  margin: 0;
  border: none;
  background-color: var(--bleu-light);
  border-radius: 0 0 9px 9px;
}

.bubble .date,
.bubble .pp {
  float: right;
  width: 20%;
}

.bubble .date code {
  opacity: .4;
}

/* FIN Messages */

/* DEBUT Navbar */

@media only screen and (max-width: 1500px) {

  .navbar {
    position: relative;
    width: 90%;
    padding: 1em;
  }

  p {
    text-align: center;
  }

  #logo {
    height: 50px;
    width: auto;
    float: center;
    margin-top: -50px !important;
    pointer-events: none;
    filter: invert(1);
    transition: all.4s;
  }

}

@media only screen and (min-width: 1500px) {

  .navbar {
    position: relative;
    width: 100%;
    padding: 1em;
    padding-top: 17vh;
  }

  p {
    text-align: right;
  }

  .big-btn {
    float: right;
  }

  .share:hover,
  .logout:hover {
    cursor: pointer;
  }

  .share:hover {
    transform: scale(0.9);
    box-shadow: 0 0 .3em var(--main-dark);
  }

  .logout:hover {
    animation: dring .17s infinite;
    filter: grayscale(0) contrast(1);
    color: rgb(245, 245, 255) !important;
    background-color: darkred !important;
    box-shadow: 0 0 .3em rgb(5, 5, 25);
  }

  #logo {
    height: 200px;
    width: auto;
    float: right;
    pointer-events: none;
    margin-top: -200px;
    filter: invert(1);
    transition: all.4s;
  }
}

a {
  text-decoration: none;
  color: var(--bleu-dark);
  transition: all.4s;
}

p {
  font-size: 2em;
  margin: 1em;
  color: var(--bleu-dark);
  transition: all.4s;
}

.big-btn {
  display: inline-block;
  border-radius: 50px;
  padding: 5%;
  width: auto;
  min-width: 51%;
  margin-bottom: 25px;
  border: none;
  font-size: 2em;
  transition: all.4s;
}

.share {
  color: var(--bleu-light);
  background-color: var(--bleu-dark);
  box-shadow: 0 0 .7em var(--main-dark);
}

.logout {
  filter: grayscale(1) contrast(2);
  color: var(--main-dark);
  margin-top: 10%;
  background-color: var(--bleu-light);
  box-shadow: 0 0 .7em rgb(5, 5, 25);
}

.logout:hover .underline {
  text-decoration: underline transparent;
  transition: all.4s;
}

.underline:hover {
  text-decoration: underline var(--bleu-dark);
}

#logo {
  user-select: none;
  height: 300px;
  width: auto;
  pointer-events: none;
  margin-top: -200px;
  filter: invert(1) drop-shadow(0 0 .4rem var(--main-light));
  transition: all.4s;
}

/* FIN Navbar */

/* DEBUT Profile */

.profilepage {
  padding: 0;
  padding-top: 1%;
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  height: calc(99%-2px);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  display: block;
  background-color: transparent;
  backdrop-filter: blur(2em);
  transition: all.4s;
}

.flex {
  display: flex;
  transition: all.4s;
}

.bluebg {
  position: relative;
  background: linear-gradient(var(--bleu-dark) 55%, transparent 40%) no-repeat;
  transition: all.4s;
}

.profile {
  min-width: 40%;
  height: fit-content;
  margin: 5%;
  background-color: transparent !important;
  transition: all.4s;
}

.profile img {
  width: 11em;
  height: 11em;
  border-radius: 9em;
  border: 7px solid var(--bleu-dark);
  transition: all.4s;
}

.profile p {
  margin: 2%;
  padding: 0;
  font-size: 1em;
  text-align: left;
}

.profile input {
  width: 90%;
  margin: 2.5%;
}

.profile {
  float: right;
  min-width: 40%;
  height: fit-content;
  margin: 5%;
  color: var(--bleu-dark);
  border: none;
  background-color: transparent;
  text-align: left;
}

.editprofile {
  position: absolute;
  bottom: calc(45% - 1.5em);
  right: 2%;
  padding: 1%;
  color: var(--main-dark);
  font-size: 1.5em;
  background-color: var(--main-light);
  margin: 1%;
  border: none;
  outline: none;
  width: fit-content;
}

.saveProfile {
  width: fit-content;
  background-color: var(--bleu-dark);
  padding: 2%;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
  box-shadow: 0 0 .7em var(--bleu-dark);
  transition: all.4s;
}

.saveProfile:hover {
  box-shadow: 0 0 .2em var(--bleu-dark);
  transform: scale(.95);
}

.saveProfile a {
  color: var(--main-light) !important;
}

.shadow {
  border-radius: 11px;
  box-shadow: 0 0 .7em black;
}

.shadow:hover {
  transform: scale(.95);
  box-shadow: 0 0 .2em black;
}

.statsProfile {
  width: 100%;
}

.statsProfile p,
.statsProfile a {
  font-size: 1em;
  text-align: left;
  margin: .4em;
  padding-right: 1%;
  color: var(--main-dark);
}

.statsProfile p {
  margin-left: 4%;
}

.navProfile {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-bottom: 2px solid rgb(5, 5, 25, .1);
}

.navProfile div {
  color: var(--main-dark);
  width: calc(100% / 3);
  padding: 1%;
  font-size: 1em;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  transition: all.4s;
}

.navProfile div a {
  color: var(--bleu-dark);
  transition: all.4s;
}

.navProfile div:hover {
  cursor: pointer;
  background-color: rgb(5, 5, 25, .1);
}

.username {
  font-weight: bold;
}

.followers,
.following {
  font-style: italic;
}

#myshares {
  display: block;
}

#reshares,
#liked {
  display: none;
}

.profileContent {
  display: block;
  width: calc(90% - 8px);
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  height: fit-content;
  min-height: 250px;
}

.profileContent article {
  border-radius: 0px;
  box-shadow: none;
  backdrop-filter: none;
  background-color: rgb(5, 5, 25, .1);
}

.historyProfileDiv {
  padding: 1%;
}

.profilebox {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  border-radius: 25px;
  box-shadow: 0 0 .4em var(--main-dark);
}

/* FIN Profile */

/* DEBUT Tendances */

@media only screen and (max-width: 1500px) {

  .tendances,
  .timeline {
    background-attachment: scroll;
  }
}

@media only screen and (min-width: 1500px) {

  .tendances,
  .timeline {
    background-attachment: fixed;
  }
}

.tendances {
  margin: 4%;
  float: left;
  height: 80vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: url("https://nucleusfinance.com/img/grid1.webp");
  background-color: #717bd5;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  border-radius: 25px;
  box-shadow: inset 0 0 .7em black;
  transition: all.4s;
}

.tendances span {
  color: var(--bleu-dark);
  font-weight: bold;
  font-size: 1.5em;
  background-color: transparent;
  padding: 1%;
  transition: all.4s;
}

.tendances div {
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  width: 90%;
  display: grid;
  height: fit-content;
  min-height: 75px;
  border-radius: 10px;
  background-color: transparent;
  backdrop-filter: blur(2em);
  transition: all.4s;
}

.tendances div h1 {
  color: var(--main-dark);
  font-size: 1em;
  font-style: italic;
  text-align: left;
  margin-left: 7px;
  opacity: .4;
  transition: all.4s;
}

.tendances div a {
  text-align: left;
  margin-left: 7px;
  transition: all.4s;
}

/* FIN Tendances */

/* DEBUT Timeline */

.timeline {
  position: relative;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: url("https://nucleusfinance.com/img/grid1.webp");
  background-color: #717bd5;
  background-blend-mode: lighten;
  background-size: cover;
  background-position: center;
  background-position-y: bottom;
  scrollbar-width: none;
  transition: all.4s;
}

.pubinfo {
  float: right;
  margin: 4px;
  padding: 7px;
}

.pubuser {
  border: .2em solid var(--main-light);
  background-color: rgb(255, 255, 255, .5);
  border-radius: 25px;
}

.pubdate {
  user-select: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  border: .2em solid transparent;
}

@media only screen and (min-width: 1500px) {

  .blurup,
  .blurdown {
    position: fixed;
    left: 0vw;
    width: 100vw;
    z-index: 1;
    transition: all.4s;
  }

  .blurup {
    top: 0;
    height: 5vh;
    backdrop-filter: blur(20px);
  }

  .blurdown {
    bottom: 0;
    height: 15vh;
    background: linear-gradient(transparent 0%, var(--main-light) 90%);
  }

}

article {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 9px;
  width: 95%;
  height: fit-content;
  background-color: transparent;
  backdrop-filter: blur(2em);
  box-shadow: 0 0 2em var(--main-light);
  border-radius: 25px;
  min-height: 100px;
  padding-bottom: 6em;
  transition: all.4s;
}

article h1 {
  color: var(--bleu-dark);
  font-size: 1.5em;
  text-transform: uppercase;
  float: left;
}

article textarea {
  background-color: transparent;
  text-transform: capitalize;
}

.comment {
  overflow-x: hidden;
  resize: none;
  padding: 1.5%;
  position: absolute;
  bottom: 17px;
  left: 0;
  right: 0;
  transition: all.4s;
}

.contenu {
  margin-top: 25px;
  color: var(--main-dark);
  text-align: justify;
  font-size: 1em;
  transition: all.4s;
}

.block-link,
.link {
  color: var(--main-light);
  border: none;
  padding: 0;
  margin: 0;
  font-size: 1em;
  outline: none;
  background-color: transparent;
  border-radius: 1em;
  transition: all.4s;
}

.block-link {
  width: 100%;
  display: inline-flex;
}

.link {
  margin-left: auto;
  margin-right: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  width: 30%;
  filter: drop-shadow(1px 1px 1px var(--main-dark));
  min-width: 150px;
}

.link:first-child {
  background-color: transparent;
  color: rgb(0, 75, 0, .2);
  border: .2em solid rgb(0, 75, 0, .2);
}

.link:first-child:hover {
  color: rgb(0, 150, 0, .7);
  border: .2em solid rgb(0, 150, 0, .7);
}

.link:last-child {
  background-color: transparent;
  color: rgb(75, 0, 0, .2);
  border: .2em solid rgb(75, 0, 0, .2);
}

.link:last-child:hover {
  color: rgb(150, 0, 0, .7);
  border: .2em solid rgb(150, 0, 0, .7);
}


.link:hover {
  border-radius: 4px;
  transform: scale(1.01);
  filter: drop-shadow(4px 4px 7px var(--main-dark));
  cursor: pointer;
}

/* FIN Timeline */