.filactus {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: calc(94vh - 25px);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    padding: 9px;
    width: 95%;
    height: auto;
    border-top: 9px solid var(--bleu-dark);
    background-color: var(--main-light);
    min-height: 400px;
}

article h1 {
    color: var(--bleu-dark);
    font-size: 1.5em;
    float: left;
    opacity: .5;
}