.profilepage {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, 100px);
    transition: all.4s;
}

.profilepicture {
    grid-column: 1/3;
    grid-row: 1;
}

.username {

    grid-column: 1/4;
    grid-row: 1/2;
}

.followers {
    grid-column: 1;
    grid-row: 3;
}

.following {
    grid-column: 1;
    grid-row: 4;
}

.editprofile {
    margin-right: rigth;
    margin-bottom: 25px;
    padding: 9px;
    width: 95%;
    height: auto;
    border-top: 9px solid var(--bleu-dark);
    background-color: var(--main-light);
    min-height: 400px;
}

.myshares {
    grid-column: 1;
    grid-row: 3;
}

.reshares {
    grid-column: 2;
    grid-row: 3;
}

.liked {
    grid-column: 3;
    grid-row: 3;
}