.timeline {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    transition: all.4s;
}

article {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 9px;
    width: 95%;
    height: fit-content;
    background-color: var(--main-light);
    min-height: 100px;
    padding-bottom: 6em;
    transition: all.4s;
}

article h1 {
    color: var(--bleu-dark);
    font-size: 1.5em;
    float: left;
    opacity: .5;
}

.comment {
    overflow-x: hidden;
    resize: none;
    padding: 1.5%;
    position: absolute;
    bottom: 17px;
    left: 0;
    right: 0;
    transition: all.4s;
}

.contenu {
    margin-top: 25px;
    color: var(--main-dark);
    text-align: justify;
    font-size: 1em;
    transition: all.4s;
}

.link {
    color: var(--bleu-dark);
    text-decoration: underline;
    border: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    background-color: transparent;
    border-radius: 0;
}

.link:hover {
    cursor: pointer;
}